{% extends "layout.html" %}
{% block title %}Edit set{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Edit set</h2>
            <form action="/edit-set/{{ set_id }}" method="post">

                <div class="form-group col-6">
                    <label for="inputName">Name</label>
                    <input type="text" name="name" class="form-control" id="inputName" minlength="1" maxlength="100"
                        value="{{ set.name }}">

                    <label for="inputDescription">Description</label>
                    <input type="text" class="form-control" id="inputDescription" name="description" maxlength="100"
                        value="{{ set.description }}">
                </div>

                <div class="form-group">
                    <label>Cards, check to remove:</label>
                    {% for card in cards %}
                    <div class="input-group">
                        <div class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" name="selection"
                                    value="{{ set.id }}">
                                <input type="text" name="word1" minlength="1" maxlength="200" value="{{ card.word1 }}">
                                <input type="text" name="word2" minlength="1" maxlength="200" value="{{ card.word2 }}">
                                <input type="hidden" name="card id" minlength="1" maxlength="200" value="{{ card.id }}">
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="form-group col-6">
                    <label for="inputWords">Add new words</label>
                    <textarea class="form-control" id="inputWords" name="words" placeholder="Ex. cat;kissa" rows="8"
                        cols="40" maxlength="10000"></textarea>
                </div>

                <div class="form-group col-6">
                    <label for="inputTerm">Term</label>
                    <input type="text" class="form-control" id="inputTerm" name="term" placeholder="term"
                        maxlength="100" value="{{ set.term }}">

                    <label for="inputDefinition">Definition</label>
                    <input type="text" class="form-control" id="inputDefinition" name="definition"
                        placeholder="definition" maxlength="100" value="{{ set.definition }}">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% if set.private == 1 %}
                        <label class="btn btn-light active">
                            <input type="radio" name="private" value=0> Public
                        </label>
                        <label class="btn btn-light active">
                            <input type="radio" name="private" value=1 checked> Private
                        </label>
                        {% else %}
                        <label class="btn btn-light active">
                            <input type="radio" name="private" value=0 checked> Public
                        </label>
                        <label class="btn btn-light active">
                            <input type="radio" name="private" value=1> Private
                        </label>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group col-6">
                    <input type="submit" class="btn btn-primary" value="OK">
                    <a class="btn btn-secondary" href="/{{ session.user_id }}">Cancel</a>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </div>

            </form>
        </div>
    </div>

{% endblock %}
