{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}

<h1>Finished set {{ set.name }}</h1>
<p>{{ set.description }}</p>

<h2>Cards ({{ card_count }})</h2>

<table>
    <tr>
        <th>{{ set.term }}</th>
        <th>{{ set.definition }}</th>
        <th>times guessed wrong</th>
    </tr>
{% for card in results %}
    <tr>
        <td>{{ card.word1 }}</td>
        <td>{{ card.word2 }}</td>
        <td>{{ card.times_guessed_wrong }}</td>
    </tr>
{% endfor %}
</table>

<a href="/set/{{ set.id }}">Back to set</a>
{% endblock %}