<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wordslet - {% block title %}{% endblock %}</title>

<div id="pagetop">
    <div class="header">
        <a href="/">Wordslet</a>
    </div>
    <div id="userinfo">
        {% if session.username %}
        <!-- You are signed in as <a href="/{{ session.user_id }}">{{ session.username }}</a> -->
        You are signed in as {{ session.username }}
        <br>
        <a href="/{{ session.user_id }}">Own sets</a>
        <br>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
        {% endif %}
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }} <br>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}
<hr>
