<!doctype html>
<!-- <link rel="stylesheet" href="/static/main.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wordslet - {% block title %}{% endblock %}</title>

<div class="container">
    <div class="row">
        <div class="col-9">
            <a href="/">Wordslet</a>
        </div>
        {% if session.username %}
            <div class="col-md-auto">
                <!-- You are signed in as <a href="/{{ session.user_id }}">{{ session.username }}</a> -->
                <a href="/{{ session.user_id }}">{{ session.username }}'s sets</a>
            </div>
            <div class="col-1">
                <a href="/logout">Logout</a>
            </div>
        {% else %}
        <div class="col-1">
            <a href="/login">Login</a>
        </div>
        <div class="col-2">
            <a href="/register">Sign up</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <form action="/result" method="GET">
                <input type="text" name="query">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>



{% block content %}{% endblock %}
<hr>
