<!doctype html>
<title>Wordslet - {% block title %}{% endblock %}</title>
<a href="/"><h1>Wordslet</h1></a>

{% if session.username %}
<!-- You are signed in as <a href="/{{ session.user_id }}">{{ session.username }}</a> -->
You are signed in as {{ session.username }}
<br>
<a href="/{{ session.user_id }}">Own sets</a>
<br>
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
<a href="/register">Sign up</a>
{% endif %}
<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }} <br>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}
<hr>
