{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/play/{{ set_id }}" method="post">
                <div class="form-group col-6">
                    Write correct answer for word
                </div>
                <div class="form-group col-6">
                    {% if answer_with == "word2" %}
                    {{ card.word1 }}
                    {% elif answer_with == "word1" %}
                    {{ card.word2 }}
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <input type="text" name="response" autofocus>
                    <input type="hidden" name="game_id" value="{{ game_id }}">
                    <input type="hidden" name="card_id" value="{{ card.id }}">
                    <input type="hidden" name="answer_with" value="{{ answer_with }}">
                </div>

                <input type="submit" class="btn btn-primary" value="OK">
                <a class="btn btn-secondary" href="set/{{ set_id }}">Stop</a>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

                <div class="form-group col-6">
                </div>
            </form>
        </div>
    </div>
</div>

<!--
<form action="/play/{{ set_id }}" method="post">
    {% if answer_with == "word2" %}
        {{ card.word1 }}
    {% elif answer_with == "word1" %}
        {{ card.word2 }}
    {% endif %}
    <br>
    <input type="text" name="response" autofocus>
    <input type="hidden" name="game_id" value="{{ game_id }}">
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="answer_with" value="{{ answer_with }}">
    <input type="submit" value="OK">
    <br>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <a href="/set/{{ set_id }}">Stop</a>

</form>
-->

{% endblock %}