{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block content %}
<form action="/register" method="POST">
    <p>Username:
    <input type="text" name="username"></p>
    <p>Password:
    <input type="password" name="password1"></p>
    <p>Repeat password
    <input type="password" name="password2"></p>
    <input type="radio" name="role" value=0 checked> Normal user
    <input type="radio" name="role" value=1> Star user
    <p>
    <input type="submit" value="Sign up">
    <a href="/">Cancel</a>
</form>
{% endblock %}
