{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Sign up</h1>
            <form action="/register" method="POST">
                <div class="form-group col-6">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="username">
                </div>
                <div class="form-group col-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password1">
                </div>
                <div class="form-group col-6">
                    <label for="inputPassword">Repeat password</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password2">
                </div>
                <div class="form-group col-6">
                    <input type="radio" name="role" value=0 checked> Normal user
                    <input type="radio" name="role" value=1> &#9733; Star user &#9733;
                </div>
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                    <a class="btn btn-secondary" href="/" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
