{% extends "layout.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
{{ username }}'s sets <p>
    {% if count == 0 %}
    No sets :-(
    {% else %}
    <form>
        sort by
        <select name="sort_by">
            <option value="name" selected="selected">Name</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
        <input type="submit" value="Sort">
    </form>

        {% for set in sets %}
            <b>{{ set.name }}</b>
            <br>
            {{set.description }}
            <br>
            <a href="/set/{{ set.id }}">Select</a>
            {% if creator == session.user_id %}
            <a href="/edit-set/{{ set.id }}">Edit</a>
            {% endif %}
            <br><br>
        {% endfor %}
    {% endif %}
    <br>
    {% if creator == session.user_id %}
    <a href="/add-new-set">Add a new set</a>
    <a href="/remove-sets">Remove sets</a>
    {% endif %}
{% endblock %}