{% extends "layout.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>{{ username }}'s sets</h1>
        </div>
        <div class="col-4">

            {% if creator == session.user_id %}
            <a class="btn btn-primary" href="/add-new-set">Add a new set</a>
            <a class="btn btn-primary" href="/remove-sets">Remove sets</a>
            {% endif %}
        </div>
    </div>

    {% if count == 0 %}

    <div class="row">
        <p>No sets :-(</p>
    </div>

    {% else %}

    <div class="row" id="user-sets">
        <div class="col-6">
            <div class="list-group">

                <div class="row" id="sort-selector">
                    <div class="col-6">
                        <form class="input-group">
                            <select class="form-select form-select-sm" name="sort_by">
                                <option value="" selected disabled hidden>Select</option>
                                <option value="name">Name</option>
                                <option value="newest">Newest</option>
                                <option value="oldest">Oldest</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Sort</button>
                        </form>
                    </div>
                </div>

                {% for set in sets %}

                <a href="/set/{{ set.id }}" class="list-group-item list-group-item-action">
                    <b>{{ set.name }}</b>
                    <br>
                    {{set.description }}
                </a>

                {% endfor %}

            </div>
        </div>
        {% endif %}

        {% if creator == session.user_id %}
        <div class="col-6">
            <div class="col">
                <p class="h4">Recently played</p>

                {% if count_recent == 0 %}

                <div class="row">
                    <p>No recently played sets</p>
                </div>

                {% else %}


                <div class="list-group">

                    {% for set in recently_played %}

                    <a href="/set/{{ set.id }}" class="list-group-item list-group-item-action">
                        <b>{{ set.name }}</b>
                        <br>
                        {{set.description }}
                    </a>

                    {% endfor %}

                </div>
                {% endif %}

            </div>
            <div class="col">
                <p class="h4">Recently finished</p>

                {% if count_finished == 0 %}
                <div class="row">
                    <p>No recently finished sets</p>
                </div>

                {% else %}
                <div class="list-group">

                    {% for set in recently_finished %}
                    <a href="/set/{{ set.id }}" class="list-group-item list-group-item-action">
                        <b>{{ set.name }}</b>
                        <br>
                        {{set.description }}
                    </a>
                    {% endfor %}

                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}