{% extends "layout.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
{{ username }}'s sets <p>
    {% if count == 0 %}
    No sets :-(
    {% else %}
        {% for set in sets %}
            <b>{{ set.name }}</b>
            <br>
            {{set.description }}
            <br>
            <a href="/play/{{ set.id }}">Play</a>
            {% if creator == session.user_id %}
            <a href="/edit/{{ set.id }}">Edit</a>
            {% endif %}
            <br><br>
        {% endfor %}
    {% endif %}
    <br>
    {% if creator == session.user_id %}
    <a href="/add-new-set">Add a new set</a>
    {% endif %}
{% endblock %}